.slide P {
    margin-bottom: 30px;
}

.slide CODE {
    background-color: silver;
    padding: 5px;
}

.slide p img {
    margin: auto;
}

.slide section {
    page-break-after: always;
}

.caption {
    page-break-after: always;
}
